<div class="pusher">
  <div class="ui vertical masthead left aligned segment">
    <div class="ui vertical stripe segment">
      <div class="ui text container">
        <h1 class="ui green header">Aviso Legal</h1>
        <p class="justificado">En cumplimiento con el deber de información recogido en <b>artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y del Comercio Electrónico</b>          a continuación se declara <a href="http://retrasosvuelos.com/">http://retrasosvuelos.com/</a> como un sitio web
          gestionado por Retrasos Vuelos (en adelante, “el prestador”) con domicilio en C/ San Vicente 82 – 1, 46002 Valencia</p>

        <div class="ui divider"></div>

        <h3 class="ui green header">Responsabilidad</h3>
        <p class="justificado">
          Toda persona que acceda a este sitio web asume el papel de <b>usuario</b>, comprometiéndose a la observancia y
          cumplimiento riguroso de las disposiciones aquí dispuestas, así como a cualquier otra disposición legal que fuera
          de aplicación.
          <br/> <br/> El prestador se exime de cualquier tipo de responsabilidad derivada de la información publicada en
          su sitio web y por la falta de disponibilidad (caídas) del sitio el cual efectuará además paradas periódicas por
          mantenimientos técnicos. Además, el prestador se reserva el derecho a modificar cualquier tipo de información que
          pudiera aparecer en el sitio web, sin que exista obligación de preavisar o poner en conocimiento de los usuarios
          dichas obligaciones, entendiéndose como suficiente con la publicación en el sitio web del prestador.
        </p>

        <div class="ui divider"></div>

        <h3 class="ui green header">Uso de cookies</h3>
        <p class="justificado">
          El sitio web del prestador puede utilizar cookies (pequeños archivos de texto que el servidor envía al ordenador de quien
          accede a la página). Se trata de una técnica usada de manera habitual en Internet para llevar a cabo determinadas
          funciones que son consideradas imprescindibles para el correcto funcionamiento y visualización del sitio. Las cookies
          utilizadas en el sitio web tienen, en todo caso, carácter temporal con la única finalidad de hacer más eficaz su
          transmisión ulterior y desaparecen al terminar la sesión del usuario. En ningún caso se utilizarán las cookies
          para recoger información de carácter personal.
          <br/> <br/> Desde el sitio web del cliente es posible que se redirija a contenidos de terceros sitios web. Dado
          que el prestador no puede controlar siempre los contenidos introducidos por los terceros en sus sitios web, éste
          no asume ningún tipo de responsabilidad respecto a dichos contenidos. En todo caso, el prestador se compromete
          a la retirada inmediata de cualquier contenido que pudiera contravenir la legislación nacional o internacional,
          la moral o el orden público, procediendo a la retirada inmediata de la redirección a dicho sitio web, poniendo
          en conocimiento de las autoridades competentes el contenido en cuestión.
        </p>

        <div class="ui divider"></div>

        <h3 class="ui green header">Protección de datos personales</h3>
        <p class="justificado">
          El prestador cumple con la normativa española de protección de datos de carácter personal, y garantiza el cumplimiento íntegro
          de las obligaciones dispuestas la <a href="http://noticias.juridicas.com/base_datos/Admin/lo15-1999.html">Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter
          Personal (LOPD)</a>, el <a href="http://noticias.juridicas.com/base_datos/Admin/rd1720-2007.html">Real Decreto 1720/2007, de 21 de diciembre, por el que se aprueba el Reglamento de desarrollo
          de la LOPD</a> y demás normativa vigente en cada momento, y vela por garantizar un correcto uso y tratamiento de
          los datos personales del usuario.
        </p>

        <div class="ui divider"></div>

        <h3 class="ui green header">Política anti-spam</h3>
        <p class="justificado">
          El prestador se declara completamente en contra del envío de comunicaciones comerciales no solicitadas y a cualquier tipo
          de conducta o manifestación conocida como “spam”, asimismo se declara comprometido con la lucha contra este tipo
          de prácticas abusivas.
          <br/> <br/> Por tanto, el prestador garantiza al usuario a que <b>bajo ningún concepto</b> los datos personales
          recogidos en el sitio web serán cedidos, compartidos, transferidos, ni vendidos a ningún tercero. <br/> <br/> Por
          las mismas razones, el proceso de registro no debe ser utilizado para inscribir direcciones de correo de personas
          ajenas sin el consentimiento expreso de las personas afectadas. <a href="http://retrasosvuelos.com/">http://retrasosvuelos.com/</a>          implementa como contramedida a esta prácticas una lista de correo de tipo double opt-in que necesita la confirmación
          explicita por parte del titular de la cuenta de correo electrónico indicada como dirección de suscripción, antes
          de recibir comunicaciones por correo electrónico. <br/> <br/> En el caso de que aun así un <b>usuario</b> reciba
          comunicaciones de este sitio web sin haberse registrado, o sin haber dado su consentimiento expreso a dicho registro,
          puede cancelar la suscripción desde los enlaces que se proporcionan en la propia comunicación. <br/> <br/> Además,
          el usuario puede ponerse en contacto con nosotros a través del formulario de contacto que se mantiene en el sitio
          web, tanto para comunicar lo sucedido como para solicitar la eliminación inmediata de sus datos de nuestro sistema.
        </p>

        <div class="ui divider"></div>

        <h3 class="ui green header">Alojamiento de datos</h3>
        <p class="justificado">
          Por razones técnicas y de calidad de servicio, el blog <a href="http://retrasosvuelos.com/">http://retrasosvuelos.com/</a>          se encuentra alojado en los servidores de la empresa <b>1and1</b> Por las razones similares, la prestación del
          servicio de suscripción por correo electrónico y envío de newsletter se efectúa desde las instalaciones de la empresa
          <b>MailChimp</b>. Ambas empresas son de origen alemán y estadounidense respectivamente con instalaciones que se
          ubican en este mismo país.
        </p>

        <div class="ui divider"></div>

        <h3 class="ui green header">Google Analytics</h3>
        <p class="justificado">
          <b><a href="http://www.google.com/intl/es/analytics/">Google Analytics</a></b> es un servicio análisis de datos
          estadísticas prestado por la empresa <b>Google</b> (<a href="http://www.google.com/policies/privacy/">política de privacidad</a>).
          <a href="http://retrasosvuelos.com/">http://retrasosvuelos.com/</a> utiliza este servicio para realizar un seguimiento
          de las estadísticas de uso del mismo.
          <br/> <br/> Google Analytics utiliza cookies para ayudar al sitio web a analizar datos estadísticos sobre el uso
          del mismo (número de visitas totales, páginas más vistas, etc.). La información que genera la cookie (incluyendo
          su dirección IP) será directamente transmitida y archivada por Google en los servidores de Estados Unidos.
          <br/><br/> Google usará esta información por cuenta nuestra con el propósito de generar información estadísticas
          sobre el uso de <a href="http://retrasosvuelos.com/">http://retrasosvuelos.com/</a>, Google no asociará su dirección
          IP con ningún otro dato del que disponga Google. Google podrá transmitir dicha información a terceros cuando así
          se lo requiera la legislación, o cuando dichos terceros procesen la información por cuenta de Google.
          <br/><br/> Puede Usted rechazar el tratamiento de los datos o la información rechazando el uso de cookies mediante
          la selección de la configuración apropiada de su navegador, sin embargo, de hacerlo, limitará la plena funcionabilidad
          de <a href="http://retrasosvuelos.com/">http://retrasosvuelos.com/</a>. Al utilizar este sitio web, da su consentimiento
          al tratamiento de información por Google en la forma y para los fines arriba indicados.
        </p>

        <div class="ui divider"></div>

        <h3 class="ui green header">Consentimiento al tratamiento de los datos personales del usuario</h3>
        <p class="justificado">
          En el marco de sus actividades, <a href="http://retrasosvuelos.com/">http://retrasosvuelos.com/</a> dispone de
          la posibilidad de registro de usuarios para el envío de comunicaciones por correo electrónico, efectuar comentarios
          en el blog y enviar mensajes a través del formulario de contacto.
          <br/><br/> El usuario mediante los actos de suscripción al blog, la realización comentarios o el formulario de
          contacto estará dando su consentimiento expreso al tratamiento de los personales proporcionados según lo dispuesto
          en el <b>artículo 6 de la LOPD</b>. El usuario podrá ejercer sus <b>derechos</b> en los términos dispuestos por
          el <b>artículo 5
          de la LOPD</b>.
          <br/><br/> Estos mismos actos implican asimismo el consentimiento expreso del usuario a la transferencia internacional
          de datos que se produce en términos de la LOPD debido a la ubicación física de las instalaciones de los proveedores
          arriba mencionados.
          <br/><br/> Los datos de carácter personal solicitados en estas actividades, quedarán incorporados a un fichero
          cuya finalidad es la comunicación de novedades relativas al sitio web de <a href="http://retrasosvuelos.com/">http://retrasosvuelos.com/</a>          actuando como <b>responsable del fichero</b> el <b>prestador</b>. Los campos marcados con asterisco son de cumplimentación
          obligatoria, siendo imposible realizar la finalidad expresada si no se aportan estos datos. Queda igualmente informado
          de la posibilidad de ejercitar los derechos que se indican en el apartado relativo a los Derechos del usuario.
        </p>

        <div class="ui divider"></div>

        <h3 class="ui green header">Derechos del usuario</h3>
        <p class="justificado">
          De conformidad con lo establecido en el <b>artículo 5 de la LOPD</b>, se informa al usuario que la <b>finalidad exclusiva</b>          de la base de datos de registro es el envío de información sobre novedades relacionadas con el sitio web <a href="http://retrasosvuelos.com/">http://retrasosvuelos.com/</a>.
          Únicamente los titulares tendrán acceso a sus datos, y bajo ningún concepto, estos datos serán cedidos, compartidos,
          transferidos, ni vendidos a ningún tercero.
          <br/><br/> De acuerdo con lo dispuesto en la LOPD, el <b>usuario</b> en cualquier momento podrá ejercitar <b>sus derechos de acceso, rectificación, cancelación, y oposición</b>          ante el <b>prestador</b>.
          <br/><br/> Para facilitar el ejercicio de estos derechos se facilita en todas las comunicaciones un <b>enlace de solicitud de baja</b>          que redundará en la <b>eliminación inmediata</b> de los datos personales del usuario de nuestra base de datos.
        </p>

        <div class="ui divider"></div>

        <h3 class="ui green header">Enlaces de afiliación</h3>
        <p class="justificado">
          <b><a href="http://retrasosvuelos.com/">http://retrasosvuelos.com/</a></b> utiliza ocasionalmente enlaces de afiliación
          de productos y servicios de marcas que hayan establecido un programa de afiliados. Estos enlaces se usan exclusivamente
          después de hacer usado dichos productos y servicios, o bien, haber realizado pruebas que permitan valorar que cumplen
          con un adecuado nivel de calidad.
          <br/><br/> El prestador se compromete a no incluir enlaces afiliados arbitrarios a productos que no cumplan con
          las condiciones antes descritas entendiendo además que este tipo de prácticas resultarían muy contraproducentes
          para la reputación del propio sitio web que los promociona.
        </p>

        <div class="ui divider"></div>

        <h3 class="ui green header">Propiedad Intelectual y uso de los contenidos</h3>
        <p class="justificado">
          El sitio web <a href="http://retrasosvuelos.com/">http://retrasosvuelos.com/</a>, incluyendo a título enunciativo
          pero no limitativo su programación, edición, compilación y demás elementos necesarios para su funcionamiento, los
          diseños, logotipos, texto y/o gráficos son propiedad del prestador o en su caso dispone de licencia o autorización
          expresa por parte de los autores.
          <br/><br/>
          <a href="http://retrasosvuelos.com/">http://retrasosvuelos.com/</a> otorga al usuario una licencia <b>Creative Commons Reconocimiento-NoComercial-CompartirIgual 3.0</b>          cuyos términos exactos se pueden consultar en este enlace.
          <br/><br/> Cualquier uso no autorizado previamente por parte del prestador será considerado un incumplimiento grave
          de los derechos de propiedad intelectual o industrial del autor.
          <br/><br/> Los diseños, logotipos, texto y/o gráficos ajenos al prestador y que pudieran aparecer en el sitio web,
          pertenecen a sus respectivos propietarios, siendo ellos mismos responsables de cualquier posible controversia que
          pudiera suscitarse respecto a los mismos. En todo caso, el prestador cuenta con la autorización expresa y previa
          por parte de los mismos.
          <br/><br/> Para realizar cualquier tipo de observación respecto a posibles incumplimientos de los derechos de propiedad
          intelectual o industrial, así como sobre cualquiera de los contenidos del sitio web, puede hacerlo a través del
          formulario de contacto que se mantiene en el sitio web.
        </p>

        <div class="ui divider"></div>

        <h3 class="ui green header">Ley Aplicable y Jurisdicción</h3>
        <p class="justificado">
          Para la resolución de todas las controversias o cuestiones relacionadas con el presente sitio web o de las actividades en
          él desarrolladas, será de aplicación la legislación española, a la que se someten expresamente las partes. <br/><br/>
        </p>
      </div>
    </div>
  </div>
</div>