<div class="pusher">
  <div class="ui vertical masthead center aligned segment">
    <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui header">¿Quienes somos?</h3>
      <p style="text-align: justify!important">Retrasosvuelos, nace en la ciudad de Valencia, con el objetivo de ayudar a los pasajeros a hacer valer sus derechos frente a las compañías aéreas. Para cumplir con nuestro objetivo, contamos con un equipo formado por economistas, informáticos y abogados entre otros profesionales, fomentando el trabajo en equipo para que estés acompañado y perfectamente asesorado en cada momento de la reclamación.
      <br/>Es gracias a este completísimo equipo que podemos garantizarte que puedas conocer en cualquier momento y lugar y en un tiempo récord tus derechos cuando aparece un problema en tu vuelo.</p>
      <a class="ui large button" routerLink="/contacto" routerLinkActive="active">Más Información</a>

      <h4 class="ui horizontal header divider">
        <p style="color: darkblue;">Origen</p>
      </h4>

      <h3 class="ui header">¿Por qué nace Retrasosvuelos?</h3>
      <p style="text-align: justify!important">
        Como en muchas ocasiones, Retrasosvuelos nace de la experiencia personal, en este caso fue la hermana pequeña del fundador la que “inició” esto ya que a consecuencia de un gran retraso, tuvo que dormir una noche en un aeropuerto a miles de kilómetros de casa, sin apenas dinero, en un país extranjero y sin que nadie le informara absolutamente de nada.
        <br/>
        Fue entonces cuando, aprovechando su profesión de abogado comenzó a introducirse en el mundo del derecho aéreo y comprobar como el desconocimiento, la dejadez en demasiadas ocasiones por parte de la administración y la impunidad con la que actúan muchas compañías provocaba la indefensión de los viajeros que veían como su tiempo no valía nada pues las compañías aéreas, aprovechándose de una posición de dominio absoluto tomaban decisiones que nos perjudicaban como usuarios sin que existiera una razón para ello más allá de ganar algo más de dinero.
        <br/>
        De esa historia hace ya unos años pero por desgracia la situación no ha cambiado, las compañías siguen aprovechándose de una posición de dominio y nosotros como viajeros lo sufrimos, desde Retrasosvuelos queremos ayudar a que eso cambie y que tú como usuario no te veas perjudicado por una decisión arbitraria de la compañía aérea de turno.
      </p>

      <h4 class="ui horizontal header divider">
        <p style="color: darkblue;">Sobre nosotros</p>
      </h4>

      <h3 class="ui header">Un equipo diferente</h3>
      <p style="text-align: justify!important">
        Queremos cambiar la situación, que las grandes compañías dejen de aprovecharse de su poder económico, puede que sea una misión casi imposible pero estamos convencidos que con un gran equipo es posible.
        <br/>
        Un equipo heterogéneo que se basa, como dijo la Madre Teresa de Calcuta, en la premisa de "yo hago lo que tú no puedes, y tú haces lo que yo no puedo. Juntos podemos hacer grandes cosas", queremos hacer algo grande y necesitamos informáticos que creen programas que te permitan saber tus derechos en cualquier momento y lugar, diseñadores que hagan de la web algo intuitivo y sencillo para que no pierdas el tiempo, economistas que nos permitan invertir todos nuestros recursos en mejorar nuestros servicios de la mejor forma posible y por supuesto, un equipo de abogados que defiendan tus intereses con pasión.
      </p>

      <h4 class="ui horizontal header divider">
        <p style="color: darkblue;">Sobre ti</p>
      </h4>

      <h3 class="ui header">Que no pierdan tu tiempo</h3>
      <p style="text-align: justify!important">
        Si estás aquí es porque posiblemente has tenido un problema y quieres encontrar la respuesta a muchas preguntas, saber qué derechos tienes, qué obligaciones tiene la compañía, qué puedes hacer, sabemos que cuando tienes un problema en un aeropuerto estás solo, nadie te informa y el nerviosismo cada vez se nota más, todo es un caos, nosotros también viajamos y sabemos cómo te sientes sólo que como abogados, conocemos los plazos, requisitos y posibilidades que existen, sabemos un poco más y queremos que te aproveches de nuestro conocimiento, queremos que tú ganes, por qué nosotros solo ganamos si tu ganas.
        <br/>
        Estamos ahí para ayudarte a contestar esas preguntas, todas tienen una respuesta y nosotros queremos que las conozcas, queremos que te centres en aquello que te ha llevado al aeropuerto ya sea un viaje de placer, de negocios… y que olvides en la medida de lo posible el problema que te ha traído aquí, por qué si confías en nosotros tu problema será menor.
        <br/>
        Todo lo que hacemos está pensado para mejorar la vida nuestros clientes y queremos que seas uno de ellos y así puedas comprobar nuestra velocidad a la hora de determinar tus derechos, nuestro trato con el cliente, nuestra transparencia y por supuesto, nuestra efectividad en conseguir lo que es tuyo.
        <br/>
        En definitiva, te ayudamos a conseguir el importe máximo de indemnización cuando tengas un problema con tu compañía aérea.
      </p>
    </div>
  </div>
  </div>
</div>

<!--<div>
  <h1>Y, ¿Ahora qué?</h1>
  Vale, has confiado en nosotros y ahora te contamos cómo trabajamos pero como no queremos aburrirte con palabras recurriremos a una imagen.
</div> -->