<div class="ui text container margenmenu">
  <h1 class="ui header left">
    RECLAMA
  </h1>
  <h1 class="ui header left">
    TU VUELO
  </h1>
  <div class="ui divider"></div>
  <h2>Conseguimos tu indemnización de hasta 600€.</h2>
  <div class="ui huge green button" routerLink="/reclamaciones" routerLinkActive="active">Empezar reclamación <i class="right checkmark icon"></i></div>
  <a class="ui huge green button" routerLink="/quienessomos" routerLinkActive="active">Más información <i class="right newspaper icon"></i></a>
  <h3>Inicia GRATIS tu reclamación. Solo cobramos si tu cobras.</h3>
</div>

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable container">
    <h1 class="ui header">¿POR QUÉ CONFIAR EN NOSOTROS?</h1>
    <p>Si has sufrido una incidencia aérea, tienes derecho a indemnización. Realiza la reclamación con nosotros. <b>Rápido y sencillo.</b></p>
    <p>El servicio <b>no tiene ningún coste inicial</b>, solo cobramos nuestros honorarios si ganas la reclamación.</p>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h2>Con unos sencillos pasos podrás conocer el importe de tu indemnización.</h2>
        <div class="ui container two column grid">
          <div class="row">
            <div class="ui left column iconoPasos">
              <i class="ui large margen20 checkmark icon "></i>
            </div>
            <div class="ui right column textoPasos">
              <h3 class="ui header">SELECCIONA TU INCIDENCIA</h3>
              <p>Dependiendo del problema que hayas tenido</p>
            </div>
          </div>
          <div class="row">
            <div class="ui left column iconoPasos">
              <i class="ui large margen20 checkmark icon "></i>
            </div>
            <div class="ui right column textoPasos">
              <h3 class="ui header">RELLENA TU FORMULARIO</h3>
              <p>Con los datos que te solicitamos</p>
            </div>
          </div>
          <div class="row">
            <div class="ui left column iconoPasos">
              <i class="ui large margen20 checkmark icon "></i>
            </div>
            <div class="ui right column textoPasos">
              <h3 class="ui header">RECIBIRÁS NUESTRA RESPUESTA</h3>
              <p>En menos de 24 horas sabrás si tienes derecho a indemnización</p>
            </div>
          </div>
          <div class="row">
            <div class="ui left column iconoPasos">
              <i class="ui large margen20 checkmark icon"></i>
            </div>
            <div class="ui right column textoPasos">
              <h3 class="ui header">RECLAMAMOS</h3>
              <p>Si nos das tu confirmación, reclamamos tu indemnización</p>
            </div>
          </div>
        </div>
        <div class="row">
          <a class="ui huge green button margen20" routerLink="/reclamaciones" routerLinkActive="active">¡QUIERO RECLAMAR!</a>
        </div>
      </div>
      <div class="six wide right floated column">
        <img src="assets/reclamacion-retraso-vuelo-580x380.png" class="ui large bordered rounded image">
      </div>
    </div>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <h1 class="ui header left">EMPIEZA A RECLAMAR</h1>
    </div>
    <div class="row">
      <p><b>Selecciona</b> una de las tres opciones que te proponemos más abajo y <b>rellena los datos</b> para saber si tienes
        derecho a indemnización.</p>
    </div>
    <div class="row">
      <div class="ui cards margencartas">
        <div class="card">
          <div class="content">
            <i class="right floated large ui green hourglass empty icon"></i>
            <div class="header">
              Retraso
            </div>
            <div class="ui divider"></div>
            <div class="description">
              Hasta 600€ de indemnización
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <i class="right floated large ui green remove from calendar icon"></i>
            <div class="header">
              Cancelación
            </div>
            <div class="ui divider"></div>
            <div class="description">
              Hasta 600€ de indemnización
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <i class="right floated large ui green users icon"></i>
            <div class="header">
              Overbooking
            </div>
            <div class="ui divider"></div>
            <div class="description">
              Hasta 600€ de indemnización
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical stripe segment largo2ymedio">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h1>¿TIENES ALGUNA DUDA?</h1>
        <br/>
        <p>Contacta con nosotros de forma gratuita y te responderemos enseguida.</p>
      </div>
      <div class="three wide floated column">
         <a class="ui large green basic button margen20 ancho80" routerLink="/contacto" routerLinkActive="active">Contactar por mail</a>
      </div>
      <div class="three wide floated column">
         <a class="ui large green basic button margen20 ancho80" href="https://api.whatsapp.com/send?phone=34695861522">Contactar por Whatsapp</a>
      </div>
    </div>
  </div>
</div>