<div class="pusher">
  <div class="ui vertical masthead left aligned segment">
    <div class="ui vertical stripe segment">
      <div class="ui text container">
        <h1 class="ui green header">Cookies</h1>
        <p class="justificado">
          Antes de continuar navegando debería saber que utilizamos cookies con diferentes finalidades en <a href="http://retrasosvuelos.com/">http://retrasosvuelos.com/</a>.
          Deseamos proporcionarle toda la información necesaria a fin de que usted pueda decidir libremente si quiere que
          las mismas se instalen en su equipo o no.
          <br/><br/> Le agradeceríamos dedicase un tiempo a leer la presente <b>“Política de Cookies”</b> ya que, en caso
          de continuar navegando en <a href="http://retrasosvuelos.com/">http://retrasosvuelos.com/</a>, RetrasosVuelos considerará
          que usted acepta la instalación de las mismas, otorgándonos su consentimiento para ello.
          <br/><br/> Tenga en cuenta que no instalar las mismas podría limitar su navegación o incluso hacerla imposible.

        </p>

        <div class="ui divider"></div>

        <h3 class="ui green header">Cookie como concepto</h3>
        <p class="justificado">
          Una <i>cookie</i> es un fichero que se descarga en su ordenador, o en el dispositivo desde el que esté accediendo
          a una página web. Las <i>cookies</i> permiten a las páginas web, entre otras cosas, almacenar y recuperar información
          sobre los hábitos de navegación del usuario o de su equipo y, dependiendo de la información que contengan y de
          la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario.
          <br/><br/> Se trata de una técnica usada de manera habitual en Internet para llevar a cabo determinadas funciones
          que son consideradas imprescindibles para el correcto funcionamiento y visualización del sitio. Las cookies utilizadas
          en el sitio web tienen, en todo caso, carácter temporal con la única finalidad de hacer más eficaz su transmisión
          ulterior y desaparecen al terminar la sesión del usuario. En ningún caso se utilizarán las cookies para recoger
          información de carácter personal.
        </p>

        <div class="ui divider"></div>

        <h3 class="ui green header">Tipos de cookies</h3>
        <p class="justificado">
          Existen muchos tipos de <i>cookies</i>, aunque todas ellas funcionan de manera similar.
          <br/><br/> Su clasificación varía dependiendo del tiempo que estas <i>cookies</i> permanecen instaladas en su dispositivo
          o terminal (temporalidad) y de su finalidad, que como su nombre indica, es el fin con el que estas se instalan
          en su equipo.
          <br/><br/> Dependiendo de estos dos factores principalmente, existen <i>cookies</i> que requieren el consentimiento
          del Usuario y otras que no. En líneas generales, las <i>cookies</i> que no necesitan autorización para ser instaladas
          son, entre otras, las imprescindibles para que tu ordenador y nuestros servidores puedan comunicarse entre sí.
          No recogen datos sobre ti, sino que únicamente ayudan a que todo funcione y puedas disfrutar de la experiencia
          de navegar por nuestra web.
          <br/><br/> También hay <i>cookies</i> que son nuestras (propias) y otras que pertenecen a terceros.
          <br/><br/> Los principales grupos de <i>cookies</i> que existen son los siguientes:
          <br/><br/>
        </p>
        <div class="ui bulleted list">
          <div class="item">
            <p class="justificado">
              <i>Cookies técnicas</i>: Son aquéllas que permiten al usuario la navegación a través de una página web, plataforma
              o aplicación y la utilización de las diferentes opciones o servicios que en ella existan como, por ejemplo,
              controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a partes de acceso restringido,
              recordar los elementos que integran un pedido, realizar el proceso de compra de un pedido, realizar la solicitud
              de inscripción o participación en un evento, utilizar elementos de seguridad durante la navegación, almacenar
              contenidos para la difusión de videos o sonido o compartir contenidos a través de redes sociales.
            </p>
          </div>
          <div class="item">
            <p class="justificado">
              <i>Cookies de personalización</i>: Son aquéllas que permiten al usuario acceder al servicio con algunas características
              de carácter general predefinidas en función de una serie de criterios en el terminal del usuario como por ejemplo
              serian el idioma, el tipo de navegador a través del cual accede al servicio, la configuración regional desde
              donde accede al servicio, etc.
            </p>
          </div>
          <div class="item">
            <p class="justificado">
              <i>Cookies de análisis</i>: Son aquéllas que bien tratadas por nosotros o por terceros, nos permiten cuantificar
              el número de usuarios y así realizar la medición y análisis estadístico de la utilización que hacen los usuarios
              del servicio ofertado. Para ello se analiza su navegación en nuestra página web con el fin de mejorar la oferta
              de productos o servicios que le ofrecemos.
            </p>
          </div>
          <div class="item">
            <p class="justificado">
              <i>Cookies publicitarias</i>: Son aquéllas que permiten la gestión, de la forma más eficaz posible, de los
              espacios publicitarios que, en su caso, el editor haya incluido en una página web, aplicación o plataforma
              desde la que presta el servicio solicitado en base a criterios como el contenido editado o la frecuencia en
              la que se muestran los anuncios.
            </p>
          </div>
          <div class="item">
            <p class="justificado">
              <i>Cookies de publicidad comportamental</i>: Son aquéllas que, bien tratadas por nosotros o por terceros, nos
              permiten gestionar de la forma más eficaz posible la oferta de los espacios publicitarios que hay en la página
              web, adecuando el contenido del anuncio al contenido del servicio solicitado o al uso que realice de nuestra
              página web. Para ello podemos analizar sus hábitos de navegación en Internet y podemos mostrarle publicidad
              relacionada con su perfil de navegación.
            </p>
          </div>
        </div>

        <div class="ui divider"></div>

        <h3 class="ui green header">Cookies que encontrará en retrasosvuelos</h3>
        <p class="justificado">
          A día de hoy <b>Retrasos Vuelos</b> utiliza en su web <a href="http://retrasosvuelos.com/">http://retrasosvuelos.com/</a>          las cookies que le mostramos a continuación.
          <br/><br/> Tenga cuenta que tanto las cookies que utilizamos, como la finalidad de las mismas, pueden ir variando
          a lo largo del tiempo por lo que te recomendamos que, cada vez que navegue por nuestra página, consulte la presente
          “Política de Cookies” a fin de informarse de las modificaciones que se hayan podido realizar.
          <br/><br/> En cualquier caso, si realizásemos cualquier cambio trataríamos de avisarlo con antelación, así como
          lo anunciaríamos en la página principal.
          <br/><br/> Las cookies utilizadas en el sitio web tienen, en todo caso, carácter temporal con la única finalidad
          de hacer más eficaz su transmisión ulterior y desaparecen al terminar la sesión del usuario. En ningún caso se
          utilizarán las cookies para recoger información de carácter personal.
        </p>

        <div class="ui divider"></div>

        <h3 class="ui green header">Cookies funcionales</h3>
        <p class="justificado">
          Las cookies funcionales son las que empleamos para conseguir que el sitio web funcione del modo esperado.
          <br/><br/> Algunos archivos cookies son necesarios para permitirle navegar por nuestro sitio web y utilizar sus
          funciones. Sin estos archivos de cookies, no podremos proporcionarle los servicios que requiere, como por ejemplo
          procesar un pedido o registrar un usuario.
          <br/><br/> Utilizamos otros archivos de cookies para ayudar a reconocerle y recordarlo cuando inicia sesión en
          la plataforma, de modo que podamos recordar su configuración y preferencias, así como su idioma y región o su estado
          de conexión. Estos archivos de cookies también pueden ayudarnos a proporcionarle los servicios que ha solicitado,
          consultar sus pedidos o realizar un comentario u opinión sobre un producto. Estos archivos no realizan el seguimiento
          de su actividad de navegación en otros sitios web diferentes al nuestro.
          <br/><br/> Puede desactivar cualquiera de estas cookies funcionales como se describe más adelante; pero si lo hace,
          es posible que diferentes funciones del sitio web no estén disponibles o no funcionen del modo deseado.
        </p>

        <div class="ui divider"></div>

        <h3 class="ui green header">Cookies de Rendimiento</h3>
        <p class="justificado">
          Utilizamos una herramienta de <b>Google</b> llamada <b>Google Analytics</b> que nos ayuda a entender el modo en
          que los usuarios utilizan nuestro sitio web. <b>Google Analytics</b> es un servicio análisis de datos estadísticas
          prestado por la empresa <b>Google</b> (<a href="http://www.google.com/policies/privacy/">política de privacidad</a>).
          <br/><br/>
          <b>Google Analytics</b> utiliza cookies para ayudar al sitio web a analizar datos estadísticos sobre el uso del
          mismo (número de visitas totales, páginas más vistas, etc.). La información que genera la cookie (incluyendo su
          dirección IP) será directamente transmitida y archivada por <b>Google</b> en los servidores de Estados Unidos.
          <br/><br/>
          <b>Google</b> usará esta información por cuenta nuestra con el propósito de generar información estadísticas sobre
          el uso de <a href="http://retrasosvuelos.com/">http://retrasosvuelos.com/</a> y no asociará su dirección IP con
          ningún otro dato del que disponga <b>Google</b>. <b>Google</b> podrá transmitir dicha información a terceros cuando
          así se lo requiera la legislación, o cuando dichos terceros procesen la información por cuenta de <b>Google</b>.
          <br/><br/> Estos archivos cookies de <b>Google Analytics</b> no nos proporcionan ningún tipo de información de
          identificación personal si bien nos facilita información general acerca del lugar, a nivel mundial, donde puede
          ser localizado el equipo que está utilizando un usuario. Esta información nos ayuda a entender el modo en que las
          personas utilizan nuestro sitio y nuestros productos, y nos proporciona información sobre el tipo de experiencia
          que las personas tienen en nuestro sitio o con nuestros servicios, todo lo que nos ayuda para comprender cómo mejorar
          aún más la experiencia de navegación y comportamiento.
          <br/><br/> Para conocer más sobre <b>Google Analytics</b> y su privacidad, visite
          <br/><br/>
          <a href="http://www.google.com/analytics/learn/privacy.html">http://www.google.com/analytics/learn/privacy.html</a>.
          <br/><br/> Para optar por no participar del seguimiento de <b>Google Analytics</b> cuando utiliza nuestros productos
          basados en la web, visite
          <br/><br/>
          <a href="http://tools.google.com/dlpage/gaoptout">http://tools.google.com/dlpage/gaoptout</a>.
        </p>

        <div class="ui divider"></div>

        <h3 class="ui green header">Características de Redes Sociales</h3>
        <p class="justificado">
          Nuestro sitio web podrá utilizar también las características de las redes sociales (“Características sociales”) proporcionadas
          por empresas y servicios como <b>Facebook</b>, <b>Twitter</b>, <b>Google+</b>, <b>YouTube</b>, y <b>LinkedIn</b>,
          para permitirle compartir información a través de estos canales. Las funciones sociales, en caso de que las tengamos
          activadas, estarán identificadas en nuestro sitio web con los logotipos de sus respectivas empresas, por lo que,
          si no encuentra dichos logotipos, significa que las funcionalidades están desactivadas.
          <br/><br/> Estos archivos cookies <b>son propiedad de terceras partes quienes las controlan</b>, por lo que estas
          terceras partes, quienes <b>son las responsables de su uso</b>. Como tal, no podemos garantizar que hayamos enumerado
          todas las cookies que puede recibir de las terceras partes, ya que estas podrían cambiarlas en cualquier momento
          en la medida en que cambien sus necesidades, por lo que aconsejamos se visite con regularidad la política de privacidad
          y política de cookies de dichas redes sociales.
          <br/><br/> Cuando visite nuestra página web, estando las características sociales activas y en caso de que decida
          emplearlas, tenga en cuenta que su navegador establecerá una conexión directa con los servidores de la red social
          correspondiente. Las características sociales les proporcionan a las redes sociales la información a la que accedió
          en nuestra página web y, si inició sesión en la red social, su visita puede quedar registrada en su cuenta de ese
          servicio. Por ejemplo, si hace clic en el botón “Me gusta” de <b>Facebook</b>, esa información es transmitida desde
          su navegador directamente a <b>Facebook</b> y almacenada ahí. Incluso si no inició sesión en la red social, ni
          hace clic en una función social, existe la posibilidad de que una función social pueda transmitir su dirección
          IP a la red social.
          <br/><br/> Para obtener más información sobre el objetivo y alcance del procesamiento de datos por parte de la
          red social, así como sus opciones para proteger su privacidad, consulte la política de privacidad en el sitio web
          de la red social correspondiente. Para su comodidad, a continuación compartimos los vínculos a las características
          sociales más utilizadas.
        </p>
        <div class="ui bulleted list">
          <div class="item">
            <p class="justificado">
              <b>Facebook</b>: <a href="https://www.facebook.com/about/privacy">https://www.facebook.com/about/privacy</a>
            </p>
          </div>
          <div class="item">
            <p class="justificado">
              <b>Google+ y YouTube</b>: <a href="http://www.google.com/policies/privacy">http://www.google.com/policies/privacy</a>
            </p>
          </div>
          <div class="item">
            <p class="justificado">
              <b>Twitter</b>: <a href="http://twitter.com/privacy">http://twitter.com/privacy</a>
            </p>
          </div>
          <div class="item">
            <p class="justificado">
              <b>LinkedIn</b>: <a href="http://www.linkedin.com/static?key=privacy_policy">http://www.linkedin.com/static?key=privacy_policy</a>
            </p>
          </div>
        </div>

        <div class="ui divider"></div>

        <h3 class="ui green header">Gestión de Cookies</h3>
        <p class="justificado">
          Igualmente queremos que sepas que, en todo momento, podrás acceder a la configuración de las cookies que empleamos en
          <a href="http://retrasosvuelos.com/">http://retrasosvuelos.com/</a> de forma permanente.
          <br/><br/> Para ello no tienes más que seguir las instrucciones de desinstalación más abajo.
        </p>

        <div class="ui divider"></div>

        <h3 class="ui green header">Consentimiento</h3>
        <p class="justificado">
          Sin perjuicio de la solicitud de consentimiento que tenemos activa cuando se accede a <a href="http://retrasosvuelos.com/">http://retrasosvuelos.com/</a>,
          en caso de que no estés conforme con la “Política de Cookies”, no continúes navegando en http://retrasosvuelos.com/.
          <br/><br/> Si continúa navegando en <a href="http://retrasosvuelos.com/">http://retrasosvuelos.com/</a> , <b>Retrasos Vuelos</b>          considerará que aceptas plenamente y sin limitaciones su “Política de Cookies”, y que otorga el consentimiento
          inequívoco para que todas las cookies indicadas anteriormente puedan descargarse en tu equipo terminal.
        </p>

        <div class="ui divider"></div>

        <h3 class="ui green header">Retirar el consentimiento para el uso de Cookies</h3>
        <p class="justificado">
          Todos los navegadores modernos permiten cambiar la configuración de Cookies. Estos ajustes normalmente se encuentran en las
          'opciones' o 'Preferencias' del menú de su navegador. Asimismo, puedes configurar tu navegador o su gestor de correo
          electrónico, así como instalar complementos gratuitos para evitar que se descarguen los Web Bugs al abrir un email.
          <br/><br/> Concretamente, para la eliminación o descarga de cookies deberías seguir los siguientes pasos, en función
          de tu navegador:
        </p>
        <div class="ui bulleted list">
          <div class="item">
            <p class="justificado">
              <b>Internet Explorer</b>: Herramientas -> Opciones de Internet -> Privacidad -> Configuración.
              <br/><br/> Para más información, puede consultar el <b>soporte de Microsoft</b> o la Ayuda del navegador.
            </p>
          </div>
          <br/>
          <div class="item">
            <p class="justificado">
              <b>Mozilla Firefox</b>: Opciones -> Privacidad -> Historial -> Configuración Personalizada
              <br/><br/> Para más información, puede consultar el <b>soporte de Mozilla</b> o la Ayuda del navegador.
            </p>
          </div>
          <br/>
          <div class="item">
            <p class="justificado">
              <b>Google Chrome</b>: Configuración -> Mostrar opciones avanzadas -> Privacidad -> Configuración de contenido.
              <br/><br/> Para más información, puede consultar el <b>soporte de Google</b> o la Ayuda del navegador.
            </p>
          </div>
          <br/>
          <div class="item">
            <p class="justificado">
              <b>Safari</b>: Preferencias -> Seguridad.
              <br/><br/> Para más información, puede consultar el <b>soporte de Apple</b> o la Ayuda del navegador.
            </p>
          </div>
        </div>
        <p class="justificado">
          Ten en cuenta que, en caso de no aceptar la presente “Política de Cookies”, las cookies no se descargarán en tu equipo y
          es posible que la funcionalidad de la página web quede limitada e incluso anulada, no siendo posible la navegación.
          <br/><br/>
        </p>
      </div>
    </div>
  </div>
</div>